/*Base style rules*/
*{
  font-family: "Comic Sans MS", sans-serif;
  box-sizing:border-box;
}

p{
  font-size: 100%;
}

h1 {
  margin-top: 30px;
  font-size: 175%;
  width: 100%;
  text-align: center;
}

div{
  float:left;
}

section{
  margin:15px;
  border-style: solid;
  border-color: black;
  border-width:1px;
  position: relative;
  padding: 30px 20px 10px 20px;
  background-color: #a6a6a6;
}


section>h2{
  font-size: 125%;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding-left: 30px;
  padding-right: 30px;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 0px;
}

#chHeader {
  background-color: #ff9999;
}
#bfHeader {
  background-color: #c82828;
  color: white;
}
#shHeader{
  background-color: #fae6aa;
}

/* For large devices */
@media (min-width:992px){
  .col-lg-4{
    width: 33.33%;
  }
}

/* For med devices */
@media (min-width:768px) and (max-width:991px){
  .col-md-6{
      width: 50%;
  }
  .col-md-12{
    width: 100%;
  }
}

/* For small devices */
@media (max-width:767px){
  .col-md-12{
      width: 100%;
  }
}
